{{ $featuredImage := (.Resources.ByType "image").GetMatch "*featured*" }}
<div class="grid items-start justify-start gap-8 overflow-hidden lg:grid-cols-5">
  <div class="items-center justify-center border border-brand/50 lg:col-span-1">
    {{ if $featuredImage }}
      <a href="{{ .RelPermalink }}"><img src="{{ $featuredImage.Permalink }}" alt="{{ .Title }}" class="w-full object-cover" /></a>
    {{ end }}
  </div>
  <div class="sm:text-lg lg:col-span-4 lg:text-asize">
    <h3 class="font-sans text-2xl font-bold text-brand hover:opacity-80"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>

    {{ with .Params.authors }}
      By:
      {{ $total := len . }}
      {{ $index := 0 }}
      {{ range . }}
        {{ $name := . }}
        {{ $path := printf "/author/%s" ($name | urlize) }}
        {{ $langPath := relLangURL $path }}
        <a href="{{ $langPath }}">{{ $name }}</a>{{ if lt $index (sub $total 1) }},{{ end }}
        {{ $index = add $index 1 }}
      {{ end }}
    {{ end }}


    <p class="">Last updated on {{ dateFormat "Jan 2, 2006" .Lastmod }}</p>

    <p class="mt-6">{{ .Summary }} <a href="{{ .RelPermalink }}" class="underline">Read more</a></p>
  </div>
</div>
