{{ if .IsTranslated }}
  <div class="relative text-white" x-data="{ lang: false }" @click.outside="lang = false">
    <button @click="lang = ! lang" type="button" class="group relative inline-flex h-full items-center rounded text-left text-base font-medium uppercase text-white hover:text-white focus:outline-none lg:text-lg" :class="{ 'text-white': lang, 'text-white': !(lang) }" aria-haspopup="listbox" aria-expanded="true">
      <span> {{ .Language.Lang }} </span>
      <svg :class="{ 'text-white rotate-180': lang, 'text-white transform-none': !(lang) }" class="ml-0.5 h-6 w-6 text-white group-hover:text-white/80" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
    <ul :class="{ 'block': lang, 'hidden': !(lang) }" class="absolute -left-2 z-10 -ml-1 hidden overflow-auto rounded bg-brand pt-0.5 shadow-lg ring-opacity-5 focus:outline-none" tabindex="-1">
      {{ range .Translations }}
        <li class="relative cursor-default select-none px-3 py-1 text-white hover:bg-white/20" id="listbox-option-0">
          <a href="{{ .Permalink }}" class="flex pr-4 text-base uppercase text-white lg:text-lg">
            {{ .Language.Lang }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
