{{ $src := .Destination }}
{{ $alt := .Text }}
{{ $sizes := "100vw" }}
{{ $widths := slice 320 640 1024 }}

{{ $isSvg := strings.HasSuffix $src ".svg" }}
{{ $isRemote := or (strings.HasPrefix $src "http://") (strings.HasPrefix $src "https://") }}
{{ $isWebp := strings.HasSuffix $src ".webp" }}

{{ if $isRemote }}
  <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" />
{{ else }}
  {{ $resource := resources.Get $src }}
  {{ $resized := $resource }}
  {{ if $resource }}
    {{ if $isSvg }}
      <img src="{{ $resource.RelPermalink }}" alt="{{ $alt }}" loading="lazy" />
    {{ else }}
      {{ $optimizedImages := slice }}

      {{ $imageWidth := $resource.Width }}

      {{ range $widths }}
        {{ if lt $imageWidth . }}
          {{ if not $isWebp }}
            {{/* If the image is smaller than the breakpoint and not already in WebP, convert to WebP */}}
            {{ $resized = $resource.Process "webp" }}
          {{ else }}
            {{/* If the image is already in WebP, just use it as is */}}
            {{ $resized = $resource }}
          {{ end }}
        {{ else }}
          {{/* If the image is larger than the breakpoint, resize and convert to WebP */}}
          {{ $resized = $resource.Resize (print . "x webp") }}
        {{ end }}
        {{ $optimizedImages = $optimizedImages | append $resized }}
      {{ end }}


      <!-- <div class="lg:-mx-24"> -->
      <picture>
        {{ range $i, $srcset := $optimizedImages }}
          {{ $mediaQuery := cond (eq $i (sub (len $widths) 1)) (print "(min-width: " (index $widths $i) "px)") (print "(max-width: " (sub (int (index $widths (add $i 1))) 1) "px)") }}
          <source srcset="{{ $srcset.RelPermalink }}" media="{{ $mediaQuery }}" sizes="{{ $sizes }}" />
        {{ end }}
        <img src="{{ (index $optimizedImages 0).RelPermalink }}" alt="{{ $alt }}" loading="lazy" class="w-full" />
      </picture>
      <!-- </div> -->
    {{ end }}
  {{ end }}
{{ end }}
