{{ define "main" }}
  <div class="mx-auto max-w-[1160px] bg-white px-6 py-8 lg:px-24 lg:py-24">
    <h2 class="lg:text-bsize mb-8 text-2xl font-bold text-brand sm:text-3xl">Blog Posts</h2>

    <div class="flex flex-col gap-16 lg:gap-24">
      {{ $paginator := .Paginate (where .Pages "Type" "blog") 10 }}
      {{ range $paginator.Pages }}
        {{ partial "components/card.html" . }}
      {{ end }}


      <div class="mt-14">
        {{ partial "pagination.html" . }}
      </div>
    </div>
  </div>
{{ end }}
