{{ define "main" }}
  <div class="flex flex-col items-center justify-center overflow-hidden px-6 lg:px-8 ">
    <div class="lg:text-asize mx-auto w-full max-w-[720px] py-6 sm:text-lg lg:py-8">
      {{ $featuredImage := (.Resources.ByType "image").GetMatch "*featured*" }}
      {{ if $featuredImage }}
        <img src="{{ $featuredImage.Permalink }}" alt="{{ .Title }}" class="w-full object-cover" />
      {{ end }}
      <h1 class="mb-2 pt-8 text-3xl font-bold text-brand lg:mb-4 lg:text-4xl">{{ .Title }}</h1>

      {{ with .Params.authors }}
        By:
        {{ $total := len . }}
        {{ $index := 0 }}
        {{ range . }}
          {{ $name := . }}
          {{ $path := printf "/%s/%s" "author" ($name | urlize) }}
          <a href="{{ $path }}" class="class">{{ $name }}</a>{{ if lt $index (sub $total 1) }},{{ end }}
          {{ $index = add $index 1 }}
        {{ end }}
      {{ end }}
      <p class="">Last updated on {{ dateFormat "Jan 2, 2006" .Lastmod }}</p>
    </div>
  </div>
  <div class="mx-auto max-w-5xl px-6 lg:px-8 lg:pb-24 lg:pt-8">
    <div class="lg:text-asize prose mx-auto max-w-[720px] text-base text-black prose-headings:text-brand prose-blockquote:text-sm sm:text-lg lg:prose-blockquote:text-lg">
      {{ .Content }}
    </div>
  </div>
{{ end }}
