{{ define "main" }}
  <div class="mx-auto my-8 flex w-full max-w-6xl flex-col items-start justify-start gap-8 lg:mt-24 lg:flex-row">
    <div class="flex flex-col gap-8">
      <img src="avatar.png" alt="Avatar" class="w-full max-w-sm" />
      <div class="space-y-2">
        <h2 class="text-center text-2xl text-black lg:text-4xl">{{ .Title }}</h2>
        <p class="text-center text-lg text-gray-500 lg:text-xl">{{ .Params.role }}</p>
      </div>
      <div class="flex items-center justify-center gap-4">
        {{ with .Params.social }}
          {{ range . }}
            <a href="{{ .link }}" class="text-brand transition duration-200 hover:scale-110" rel="noopener noreferrer" target="_blank">
              <span class="sr-only">{{ .name }}</span>
              {{ $icon := .icon }}
              {{ partial "fa.html" $icon }}
            </a>
          {{ end }}
        {{ end }}
      </div>
    </div>

    <div class="mx-auto max-w-3xl px-6 lg:px-8">
      <div class="lg:text-asize prose max-w-none text-base text-black prose-headings:text-brand prose-blockquote:text-sm sm:text-lg lg:prose-blockquote:text-lg">{{ .Content }}</div>
    </div>
  </div>

  <div class="mx-auto my-16 w-full max-w-6xl px-6 lg:my-24 lg:px-8">
    <hr class="py-4" />
    <h2 class="mb-4 text-lg font-bold text-black lg:text-2xl">{{ T "latest" }}</h2>

    <ul class="space-y-1">
      {{ $authorPageAuthor := .Params.author }}
      {{ range .Site.RegularPages.ByDate.Reverse }}
        {{ if eq .Type "blog" }}
          {{ if in .Params.authors $authorPageAuthor }}
            <li class="list-inside list-disc"><a class="lg:text-asize font-sans text-lg font-semibold text-brand hover:opacity-80" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
