{{ define "main" }}
  {{ with .Params.hero }}
    <div class="mx-auto mt-4 w-full px-6 lg:mt-16 lg:px-8">
      <div class="flex flex-row items-center justify-center gap-8 lg:gap-16 xl:gap-24">
        <div class="">
          {{ with .image }}
            {{ partial "components/image-responsive.html" (dict "src" (.)  "class" "my-8 lg:my-0 w-[22vw] object-cover" "sizes" "(min-width: 1024px) 50vw, 100vw" "widths" (slice 640 1024)) }}
          {{ end }}
        </div>

        <div class="">
          <h1 class="text-brand text-[6vw] font-semibold leading-[1.2] xl:text-[5vw]">{{ .heading | markdownify }}</h1>
        </div>
      </div>
    </div>
  {{ end }}

{{ end }}
