{{ define "main" }}
  {{ $blocks := .Params.blocks }}
  {{ range $blocks }}
    {{ if eq .block "content" }}
      <section class="x-cloak overflow-hidden">
        <div class="px-6 py-20 lg:px-8 lg:py-32">
          <div class="mx-auto max-w-3xl px-6 lg:px-8">
            <div class="prose max-w-none sm:prose-lg prose-headings:scroll-mt-32 hover:prose-a:text-gray-900">{{ $.Page.Content }}</div>
          </div>
        </div>
      </section>
    {{ else }}
      {{ $file := (printf "%s%s%s" "blocks/" .block ".html" ) }}
      {{ partial $file . }}
    {{ end }}
  {{ end }}
{{ end }}
