{{ define "main" }}
  <div class="mx-auto max-w-5xl px-6 py-16 lg:px-8">
    <div class="lg:text-asize prose max-w-none text-base text-black prose-headings:text-brand prose-blockquote:text-sm sm:text-lg lg:prose-blockquote:text-lg">
      {{ .Content }}
    </div>
  </div>
{{ end }}
