/* assets */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* open-sans-300 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/open-sans-v40-cyrillic_latin_latin-ext-300.woff2') format('woff2'); 
}
/* open-sans-regular - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v40-cyrillic_latin_latin-ext-regular.woff2') format('woff2'); 
}
/* open-sans-italic - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/open-sans-v40-cyrillic_latin_latin-ext-italic.woff2') format('woff2'); 
}
/* open-sans-500 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/open-sans-v40-cyrillic_latin_latin-ext-500.woff2') format('woff2'); 
}
/* open-sans-600 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/open-sans-v40-cyrillic_latin_latin-ext-600.woff2') format('woff2'); 
}
/* open-sans-700 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v40-cyrillic_latin_latin-ext-700.woff2') format('woff2'); 
}

/* montserrat-300 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/montserrat-v26-cyrillic_latin_latin-ext-300.woff2') format('woff2'); 
}
/* montserrat-regular - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v26-cyrillic_latin_latin-ext-regular.woff2') format('woff2'); 
}
/* montserrat-500 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/montserrat-v26-cyrillic_latin_latin-ext-500.woff2') format('woff2'); 
}
/* montserrat-600 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/montserrat-v26-cyrillic_latin_latin-ext-600.woff2') format('woff2'); 
}
/* montserrat-700 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-v26-cyrillic_latin_latin-ext-700.woff2') format('woff2'); 
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none !important;
}

