<span class="inline-block h-8 w-8 align-middle">
  {{- $fname:=print "assets/icons/" . ".svg" -}}
  {{- $svg := readFile $fname -}}
  {{- $commentStrippedSvg := replaceRE "<!--[^>]*-->" "" $svg -}}
  {{- $svgWithCurrentColorFill := replace $commentStrippedSvg "<path" "<path fill='currentColor'" -}}
  {{- $scalableSvg := replace $svgWithCurrentColorFill "<svg" "<svg width='100%' height='100%' " -}}
  {{ $scalableSvg | safeHTML }}
</span>
