<footer class="mt-8 bg-muted px-6 py-6 lg:px-16 lg:py-8">
  <p class="mx-4 text-center font-sans text-lg italic leading-5 text-black sm:text-[21px] sm:leading-[29px]">
    {{ with site.Copyright }}{{ replace . "{year}" time.Now.Year | markdownify }}{{ end }}
  </p>
</footer>
