<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title | markdownify | plainify }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Params.description | default .Site.Params.description }}" />
<link rel="canonical" href="{{ .Permalink }}" />

{{ $styles := resources.Get "/css/style.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

{{ $js := resources.Match "js/*.js" }}
{{ $combined := resources.Concat "js/main.js" $js | resources.Minify | resources.Fingerprint }}
<script src="{{ $combined.RelPermalink }}"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

{{ partial "opengraph.html" . }}
{{ partial "twitter_cards.html" . }}
