<div id="navbar" class="sticky font-montserrat top-0 z-50 bg-brand" 
  x-data="{ mobile: false }" 
  @click.outside="mobile = false">
  <div class="px-6 lg:px-8">
    <div class="mx-auto max-w-none py-2 lg:py-4">
      <div class="flex items-center justify-between lg:justify-start lg:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
          <a class="flex items-center gap-4" href="{{ "/" | relLangURL }}">
            <span class="text-white text-base sm:text-lg lg:text-xl xl:text-2xl font-montserrat font-semibold">{{ .Site.Params.logo_title }}</span>
          </a>
        </div>
        <div class="flex items-center gap-2 lg:hidden">
          <button @click="mobile = !mobile" type="button" class="inline-flex items-center justify-center p-2 -mr-3 text-white focus:outline-none" aria-expanded="false" style="width: 48px; height: 48px;">
            <span class="sr-only">Toggle main menu</span>
            <div class="relative flex h-full w-full items-center justify-center">
              <span :class="{'rotate-45': mobile, '-translate-y-1.5': !mobile}" class="absolute block h-0.5 w-5 transform bg-current transition duration-300 ease-in-out"></span>
              <span :class="{'opacity-0': mobile}" class="absolute block h-0.5 w-5 transform bg-current transition duration-300 ease-in-out"></span>
              <span :class="{'-rotate-45': mobile, 'translate-y-1.5': !mobile}" class="absolute block h-0.5 w-5 transform bg-current transition duration-300 ease-in-out"></span>
            </div>
          </button>
        </div>
        <nav class="hidden lg:flex justify-center items-center lg:space-x-1 gap-4 font-medium">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <a href="{{ .URL | relLangURL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }} text-white border-b-2 border-white {{ else }} text-white border-transparent border-b-2 transition duration-300 {{ end }} hover:border-white text-base lg:text-lg pt-px"{{ if in .URL "http" }} target="_blank"{{ end }}> {{ .Name }} </a>
          {{ end }}

          {{ partial "components/language-switcher.html" . }}
        </nav>
      </div>
    </div>
  </div>

  <div
    x-show="mobile"
    :class="{ 'block': mobile, 'hidden': !(mobile) }"
    x-transition:enter="duration-200 ease-out"
    x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100"
    x-transition:leave="duration-100 ease-in"
    x-transition:leave-start="opacity-100 scale-100"
    x-transition:leave-end="opacity-0 scale-95"
    class="absolute w-full z-10 origin-top transform transition hidden lg:hidden shadow-md"
  >
    <div class="overflow-hidden bg-white/90 backdrop-blur-md font-normal">
      <div class="space-y-1 p-4 sm:p-6">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <a @click="mobile = false" href="{{ .URL | relLangURL }}" class="block tracking-wide px-4 py-3 text-base hover:bg-zinc-50" 
          {{ if in .URL "http" }} target="_blank"{{ end }}>{{ .Name }}</a>
        {{ end }}
      </div>

      <div class="flex flex-row items-center right-1 px-8 mb-10">

        {{ if .IsTranslated }}
          <button class="px-3 py-2 flex flex-row items-center border border-gray-300 text-sm font-medium text-white bg-brand focus:outline-none">
            <a class="text-md uppercase" href="{{ .Permalink }}">{{ .Language.Lang }}</a>
          </button>
          
          {{ range .Translations }}
          <button class="px-3 py-2 flex flex-row items-center border border-gray-300 text-sm font-medium text-gray-700 hover:bg-gray-100 focus:bg-gray-200 focus:outline-none">
            <a class="text-md uppercase" href="{{ .Permalink }}">{{ .Language.Lang }}</a>
          </button>
          {{ end }}
        {{ end }}
      </div>
      
    </div>
  </div>
</div>

<script>
  window.onscroll = function () {
    scrollFunction();
  };
  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("navbar").classList.add("shadow");
    } else {
      document.getElementById("navbar").classList.remove("shadow");
    }
  }
</script>