{{ $paginator := .Paginator }}


<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 4 }}


<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}


<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}


<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}


<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}
  <!-- Previous page. -->
  <div class="relative px-6 lg:px-8">
    <nav class="flex items-center justify-center px-4 sm:px-0">
      <div class="flex">
        {{ if $paginator.HasPrev }}
          <a href="{{ $paginator.Prev.URL }}" class="inline-flex items-center space-x-1 pr-1 font-medium hover:text-brand">
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
            <span>{{ i18n "previous" }}</span>
          </a>
        {{ end }}
      </div>

      <!-- Page numbers. -->
      {{ range $paginator.Pagers }}

        {{ $.Scratch.Set "page_number_flag" false }}


        <!-- Advanced page numbers. -->
        {{ if gt $paginator.TotalPages $max_links }}

          <!-- Lower limit pages. -->
          <!-- If the user is on a page which is in the lower limit.  -->
          {{ if le $paginator.PageNumber $lower_limit }}

            <!-- If the current loop page is less than max_links. -->
            {{ if le .PageNumber $max_links }}
              {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}


            <!-- Upper limit pages. -->
            <!-- If the user is on a page which is in the upper limit. -->
          {{ else if ge $paginator.PageNumber $upper_limit }}

            <!-- If the current loop page is greater than total pages minus $max_links -->
            {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
              {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}


            <!-- Middle pages. -->
          {{ else }}

            {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
              {{ $.Scratch.Set "page_number_flag" true }}
            {{ end }}

          {{ end }}


          <!-- Simple page numbers. -->
        {{ else }}

          {{ $.Scratch.Set "page_number_flag" true }}

        {{ end }}


        <div class="hidden md:flex">
          <!-- Output page numbers. -->
          {{ if eq ($.Scratch.Get "page_number_flag") true }}
            <a href="{{ .URL }}" class="{{ if eq . $paginator }}text-brand{{ else }}text-black{{ end }} inline-flex items-center px-4 font-medium hover:text-brand ">
              {{ .PageNumber }}
            </a>
          {{ end }}
        </div>
      {{ end }}


      <!-- Next page. -->
      <div class="flex">
        {{ if $paginator.HasNext }}

          <a href="{{ $paginator.Next.URL }}" class="inline-flex items-center space-x-1 pl-1 font-medium hover:text-brand ">
            <span>{{ i18n "next" }}</span>
            <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
          </a>
        {{ end }}
      </div>
    </nav>
  </div>
{{ end }}
