{{- with $.Resources.GetMatch $.Params.image -}}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ .Permalink }}" />
{{- else -}}
  {{- with $.Resources.GetMatch "featured*" -}}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ .RelPermalink }}" />
  {{- else -}}
    {{- with $.Site.Params.featured_image -}}
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:image" content="{{ . | absURL }}" />
    {{- else -}}
      <meta name="twitter:card" content="summary" />
    {{- end -}}
  {{- end -}}
{{- end }}


<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description | default $.Site.Params.Description }}" />
{{- with $.Site.Params.Social.twitter -}}
  <meta name="twitter:site" content="@{{ . }}" />
{{- end -}}
