<div class="bg-white lg:px-6">
  <div class="{{ if eq .background "muted" }}bg-muted{{ else }}bg-white lg:mt-0{{ end }} w-full py-8">
    <div class="mx-auto w-full max-w-5xl px-6 lg:px-8">
      <h2 class="lg:text-bsize mb-6 text-2xl font-bold text-brand sm:text-3xl">{{ .heading | markdownify }}</h2>
      <div class="flex flex-col gap-16 lg:gap-24">
        {{ $paginator := .Paginate (where .Pages "Type" "blog") 10 }}
        {{ range $paginator.Pages }}
          {{ $featuredImage := (.Resources.ByType "image").GetMatch "*featured*" }}
          <div class="flex flex-col items-start justify-start gap-8 overflow-hidden lg:flex-row">
            <div class="flex w-full max-w-40 items-center justify-center border border-brand">
              {{ if $featuredImage }}
                <img src="{{ $featuredImage.Permalink }}" alt="{{ .Title }}" class="h-40 w-40 object-cover lg:h-auto lg:w-48" />
              {{ end }}
            </div>

            <div class="lg:text-asize sm:text-lg">
              <h3 class="mb-2 font-sans text-lg font-bold">{{ .Title }}</h3>
              <p class="my-2">Last updated on {{ dateFormat "Jan 2, 2006" .Lastmod }}</p>
              {{ with index .Params.authors 0 }}<p class="mb-2">By: {{ . }}</p>{{ end }}
              <p class="mb-2">{{ .Summary }} <a href="{{ .RelPermalink }}" class="underline">Read more</a></p>
            </div>
          </div>
        {{ end }}


        <div class="mt-14">
          {{ partial "pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</div>
