<div class="bg-white px-6">
  <div class="mx-auto -mt-4 mb-8 max-w-[960px] lg:-mt-8">

    <h2 class="text-asize font-sans">One Time Donation</h2>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="mb-16 mt-2">
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="item_name" value="LEAP donation" />
      <input type="hidden" name="business" value="JPSDB662ZEMJY" />
      <div class="donation">
        <select name="currency_code" class="w-20 px-2 py-1 text-sm lg:w-32 lg:px-3 lg:text-base">
          <option value="USD">USD $</option>
          <option value="CAD">CAD $</option>
          <option value="GBP">GBP £</option>
          <option value="EUR">EUR €</option>
        </select>
        <input type="input" name="amount" value="25" size="6" class="w-16 border border-brand/50 px-2 py-1 text-sm lg:w-32 lg:px-3 lg:text-base" />
        <input class="cursor-pointer border border-brand/50 bg-white px-3 py-1 text-sm font-semibold uppercase text-black no-underline transition-all duration-200 hover:bg-brand hover:text-white lg:text-base" type="submit" name="submit" value="Donate" />
      </div>
    </form>
  </div>
</div>
