<div class="bg-white lg:px-6">
  <div class="{{ if eq .background "muted" }}bg-muted{{ else }}bg-white{{ end }} w-full py-8 lg:py-16">
    <div class="mx-auto w-full max-w-5xl px-6 lg:px-8">
      {{ with .heading }}<h2 class="lg:text-bsize mb-6 text-2xl font-bold text-brand sm:text-3xl">{{ . }}</h2>{{ end }}
      <div class="lg:text-asize prose max-w-none text-base text-black prose-headings:text-brand prose-blockquote:text-sm sm:text-lg lg:prose-blockquote:text-lg">{{ .copy | markdownify }}</div>
      <div class="my-8 flex flex-col items-center justify-start gap-8 md:flex-row md:items-start">
        {{ with .image }}
          <div class="w-64 md:-ml-2 md:w-60">
            {{ partial "components/image-responsive" (dict "src" . "alt" "Logo" "class" "h-auto w-full min-w-60 object-fit object-center" "loading" "lazy" "sizes" "(min-width: 1024px) 100vw" "widths" (slice 640)) }}
          </div>
        {{ end }}


        <div class="w-full max-w-lg px-0 lg:contents">
          <div class="mx-auto w-full border border-brand/50 p-4">
            {{ with .table }}
              <h2 class="text-center text-3xl font-bold tracking-tight text-black sm:text-xl">
                {{ .title }}
              </h2>
              <div class="no-scrollbar mt-6 overflow-scroll">
                <table class="w-full text-center ">
                  <thead class="">
                    <tr>
                      <th></th>
                      {{ range .heading }}
                        <th class="w-[15%] py-2">
                          <a class="border-b border-gray-200 pb-1 text-xs" href="{{ .link }}">{{ .title }}</a>
                        </th>
                      {{ end }}
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .rows }}
                      <tr class="">
                        <td class="whitespace-nowrap py-2 pl-3 text-left text-sm">
                          {{ .title }}
                        </td>
                        {{ range .checkmark }}
                          <td class="text-center align-middle">
                            {{ if . }}
                              <span class="inline-flex items-center justify-center pt-2 text-green-500">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                  <path fill="#1AB73A" transform="translate(0, 2)" d="M0.05 6.77c0.097-0.415 0.924-0.855 1.433-0.733 0.292 0.073 0.656 1.564 0.924 1.636 0.215-0.096 0.766-1.047 1.627-2.347 0.891-1.339 2.108-3.045 3.181-4.3 0.049-0.073 0.121-0.146 0.121-0.195 0.17-0.22 0.777-0.61 1.19-0.708 0.364-0.073 0.971-0.146 1.068 0.024 0.097 0.171-0.68 1.147-0.971 1.44-0.924 1.098-4.229 5.492-4.734 6.517-0.17 0.195-0.753 1.147-1.263 1.782-0.607 0.293-1.312 0.097-1.528 0.024C0.705 9.39 0.05 7.527 0.05 6.77z" />
                                </svg>
                              </span>
                            {{ else }}
                              <span> </span>
                            {{ end }}
                          </td>
                        {{ end }}
                      </tr>
                    {{ end }}
                  </tbody>
                </table>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
