<div class="mt-8 w-full px-6 lg:mt-28 lg:px-8">
  <div class="{{ if page.IsHome }}items-start{{ else }}items-center{{ end }} mx-auto grid max-w-7xl grid-cols-1 justify-center lg:grid-cols-3">
    <div class="col-span-1 flex h-auto w-full flex-shrink-0 pr-8 xl:pr-0">
      {{ with .image }}
        {{ partial "components/image-responsive.html" (dict "src" (.)  "class" "my-8 lg:my-0 h-[80%] object-cover" "loading" "eager" "sizes" "(min-width: 1024px) 50vw, 100vw" "widths" (slice 640 1024)) }}
      {{ end }}
    </div>

    <div class="{{ if not page.IsHome }}hidden{{ else }}block mb-12 lg:mb-20{{ end }} col-span-2 max-w-5xl lg:block">
      <h1 class="mb-8 text-[8vw] font-semibold leading-[1.2] text-brand md:text-[6vw] lg:text-[5vw] [@media(min-width:1820px)]:text-[90px]">{{ .heading | markdownify }}</h1>
      {{ with .copy }}<div class="lg:text-asize w-full max-w-2xl text-left font-montserrat text-base text-black sm:text-lg">{{ . | markdownify }}</div>{{ end }}
    </div>
  </div>
</div>
