<div class="bg-white lg:px-6">
  <div class="{{ if eq .background "muted" }}bg-muted{{ else }}bg-white -mt-8 lg:mt-0{{ end }} w-full py-8 lg:py-16">
    <div class="mx-auto w-full max-w-5xl px-6 lg:px-8">
      {{ with .heading }}<h2 class="lg:text-bsize mb-6 text-2xl font-bold text-brand sm:text-3xl">{{ . }}</h2>{{ end }}
      <div class="lg:text-asize prose max-w-none text-base text-black prose-headings:text-brand prose-blockquote:text-sm sm:text-lg lg:prose-blockquote:text-lg">{{ .copy | markdownify }}</div>
      <div class="my-8 flex flex-col gap-16">
        {{ range .items }}
          <div class="flex gap-8">
            {{ with .image }}
              {{ partial "components/image-responsive" (dict "src" . "alt" "Logo" "class" "aspect-square h-full w-full object-fit object-center sm:aspect-auto max-w-24 p-2 border border-brand/50" "loading" "eager" "sizes" "(min-width: 1024px) 100vw" "widths" (slice 320 640)) }}
            {{ end }}
            <div class="lg:text-asize prose -mt-2 max-w-none text-base text-black prose-headings:text-brand prose-blockquote:text-sm sm:text-lg lg:prose-blockquote:text-lg">
              {{ .copy | markdownify }}
              <p class="mt-2 flex gap-2">
                {{ range .buttons }}
                  <a href="{{ .url }}" class="border border-brand/50 bg-white px-2 py-1 text-xs font-semibold uppercase text-black no-underline transition-all duration-200 hover:bg-brand hover:text-white"
                    >{{ .text }}
                  </a>
                {{ end }}
              </p>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
