<div class="bg-white lg:px-6">
  <div class="{{ if eq .background "muted" }}bg-muted{{ else }}bg-white lg:mt-0{{ end }} w-full py-8 lg:py-16">
    <div class="mx-auto w-full max-w-5xl px-6 lg:px-8">
      {{ with .heading }}<h2 class="mb-6 text-2xl font-bold text-brand sm:text-3xl lg:text-bsize">{{ . }}</h2>{{ end }}
      <div class="prose max-w-none text-base text-black prose-headings:text-brand prose-blockquote:text-sm sm:text-lg lg:text-asize lg:prose-blockquote:text-lg">{{ .copy | markdownify }}</div>
      <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-4">
        {{ range .logos }}
          {{ with .image }}
            <div class="h-20">
              {{ partial "components/image-responsive" (dict "src" . "alt" "Logo" "class" "h-full w-full border border-black object-contain px-2 py-1" "loading" "lazy" "sizes" "400px" "widths" (slice 400)) }}
            </div>
          {{ end }}
          <!-- {{ with .image }}
            {{ $image := resources.Get . }}
            <div class="h-20">
              <img src="{{ $image.Permalink }}" alt="" class="h-full w-full border border-black object-contain px-2 py-1" />
            </div>
          {{ end }} -->
        {{ end }}
      </div>
    </div>
  </div>
</div>
