<div class="bg-white lg:px-6">
  <div class="{{ if eq .background "muted" }}bg-muted{{ else }}bg-white lg:mt-0{{ end }} w-full py-8 lg:py-16">
    <div class="mx-auto w-full max-w-5xl px-6 lg:px-8">
      <h2 class="lg:text-bsize mb-8 text-2xl font-bold text-brand sm:text-3xl">{{ .heading | markdownify }}</h2>
      <div class="flex flex-col gap-16 lg:gap-24">
        {{ range first 3 (where site.RegularPages "Type" "blog") }}
          {{ $featuredImage := (.Resources.ByType "image").GetMatch "*featured*" }}
          <div class="flex flex-col items-start justify-start gap-8 overflow-hidden lg:flex-row">
            <div class="flex w-full items-center justify-center border border-brand/50 lg:max-w-48">
              {{ if $featuredImage }}
                <a href="{{ .RelPermalink }}"><img src="{{ $featuredImage.Permalink }}" alt="{{ .Title }}" class="w-full object-cover" /></a>
              {{ end }}
            </div>
            <div class="lg:text-asize sm:text-lg">
              <h3 class="font-sans text-2xl font-bold text-black hover:opacity-80 lg:text-[22px] lg:leading-[30px]"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>

              {{ with .Params.authors }}
                By:
                {{ $total := len . }}
                {{ $index := 0 }}
                {{ range . }}
                  {{ $name := . }}
                  {{ $path := printf "/author/%s" ($name | urlize) }}
                  {{ $langPath := relLangURL $path }}
                  <a href="{{ $langPath }}" class="class">{{ $name }}</a>{{ if lt $index (sub $total 1) }},{{ end }}
                  {{ $index = add $index 1 }}
                {{ end }}
              {{ end }}


              <p class="">Last updated on {{ dateFormat "Jan 2, 2006" .Lastmod }}</p>

              <p class="mt-6">{{ .Summary }} <a href="{{ .RelPermalink }}" class="underline">Read more</a></p>
            </div>
          </div>
        {{ end }}

      </div>
    </div>
  </div>
</div>
