<div id="{{ .id }}" class="anchor bg-white lg:px-6">
  <div class="{{ if eq .background "muted" }}bg-muted{{ else }}bg-white{{ end }} w-full py-8 lg:py-16">
    <div class="mx-auto w-full max-w-5xl px-6 lg:px-8">
      {{ with .heading }}<h2 class="lg:text-bsize mb-6 text-2xl font-bold text-brand sm:text-3xl">{{ . }}</h2>{{ end }}
      <div class="lg:text-asize prose max-w-none text-base text-black prose-headings:text-brand prose-blockquote:text-sm sm:text-lg lg:prose-blockquote:text-lg">{{ .copy | markdownify }}</div>
    </div>
  </div>
</div>
